@charset "UTF-8";
/* CSS Document */

/*

div id - #

div class - *

HTML tag - body


*/
body {
  height: auto;
  width: auto;
  background-color: #fff;
}

header {
  display:flex;
  height: 150;
  padding-bottom: 60px;
  align-content: center;
  background-color: rgb(255, 250, 250);
}
aside {
  display: block;
  align-content: flex-start;
}

#headerNav {
  display:flex;
  padding: auto;
  align-content: center;
}

#hdlogo {
  max-width: 100%;
  display: contents;
  align-content: right;
}

nav ul {
  list-style-type: none;
  align-content: center;
  margin: 0;
  padding: 10;
  overflow: hidden;
}

li {
  display: inline-block;
  align-content: space-around;
}

li a {
  display: block;
  color: rgb(49, 49, 49);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

/*
nav a {
  color: #fff;
  text-decoration: none;
  padding: .5em 1em;
}
*/
#staticImage {
  max-width: 100%;
  display: flex;
  align-content: center;
  padding: bottom 20px top 20px;
}

#circles {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#filter {
  display: flex;
  align-content: right;
}

#infocards {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
#infocards2 {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
dl {
  display: inline;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  display: flex;
  align-content: center;
  background-color: rgb(138, 138, 138);
}
#footerNav {
  display: inline-flex;
  padding: auto;
}

/*
body {
    background-color: #fff;
    color: #333;
    margin: 0;
    font: 1.2em / 1.2 Arial, Helvetica, sans-serif;
  }

  img {
      max-width: 100%;
      display: block;
  }
  
  .logo {
    font-size: 200%;
    padding: 50px 20px;
    margin: 0 auto;
    max-width: 980px;
  }
  
  .grid {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 980px;
  }
  
  nav {
    background-color: #000;
    padding: .5em;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
  }
  
  .photos {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .feature {
      width: 200px;
  }
*/