@charset "UTF-8";
/* CSS Document */

/*

class - are for multiple elements, use period . before
IDs - are for specific unique elements, use #name

HTML tag - body


*/
body {
  height: auto;
  width: auto;
  margin: 100px;
  background: rgb(194,250,251);
  background: linear-gradient(0deg, rgba(194,250,251,1) 0%, rgba(45,253,141,0.7441351540616247) 100%);
}
section {
  display: flex;
}

header {
  display:flex;
  padding-bottom: 60px;
  margin-top: -100px;
  height: 120px;
  max-width: 100%;
  background-color: white;
}


.headerNav ul {
  list-style-type: none;
  margin: 0;
  padding: 50px;
  overflow: hidden;
  background-color: #ffffff;
}

.headerNav li {
  float: right;
}

.headerNav li a {
  display: block;
  color: #2d2d2d;
  text-align: center;
  padding: 20px 20px;
  padding-left: 200px;
  text-decoration: none;
}

/* Change the link color to #111 (blue) on hover */
.headerNav li a:hover {
  background-color: #04f1e5;
}

.hdlogo > img {
  float:left;
  max-width: 200px;
  padding-left: 50px;
  padding-top: 30px;
}

main {
  display:flexbox;
  align-content: center;
}

.popUpQuestions {
  float: none;
  padding: 40px 40px;
}

.staticImage {
  max-width: 100%;
  display: flex;
  align-content: center;
  padding-top: 40px;
  padding-bottom: 40px;
}
/*

*/

#bkgrndButton {
  margin: 20px;
  background-color: rgb(211, 14, 241);
  padding: 40px;
  font-size: 40px;
  color: white;
  border-color: white;
}

#salebutton {
  display: flex;
  align-self: auto;
  margin: 20px;
  background-color: yellow;
  padding: 20px;
  font-size: larger;
  border-color: white;
}


.pagelinks {
  display:inline-block;
  align-content: center;
  margin: -20px;
  padding-top: 10px;
  padding-bottom: 20px;
}

.pagelinks > figure > img { 
  vertical-align: top;
  border-style: dashed;
  border-color: #ffffff;
  border-radius: 80%;
}

.pagelinks > figure > figcaption {
  text-align: center;
  padding-top: 5%;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  color: #504f4f;
}

.filter {
  display: flex;
  align-content: right;
}

.infocards {
  display: inline-block;
  align-content: space-between;
  margin: 55px;
  padding-top: 0;
  padding-bottom: 0; 
}

.infocards > figure > img {
  vertical-align: top;
  height: 400px;
  width: auto;
  border-style:dotted;
  border-color: rgb(255, 255, 255);
}

.infocards > figure > dl {
  text-align: left;
  border-style: dotted;
  border-color: #ffffff;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  color: #504f4f;
}

.infocards > figure > dl > dt {
  text-transform: uppercase;
  padding: 10px;
}

.infocards > figure > dl > dd {
  margin-left: -2px;
  text-transform: capitalize;
  padding: 10px;
}

footer {
  display: block;
  height: 120px;
  background-color: white;
}

.footerBox {
  max-width: 100%;
  height: auto;
}

.footerlogo > img {
  float:left;
  max-width: 100px;
  padding-left: 50px;
  padding-top: 30px;
}

.footernav nav ul {
  list-style-type: none;
  margin: 0;
  padding: 50px;
  overflow: hidden;
  background-color: #ffffff;
}

.footernav > nav > ul > li {
  float: right;
}

.footernav > nav > ul > li > a {
  display: block;
  color: #2d2d2d;
  text-align: center;
  padding: 20px 20px;
  padding-left: 100px;
  text-decoration: none;
}

.copyright {
  float: none;
  padding-top: 80px;
  padding-left: 100px;
}
